@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100vh;
  background-color: #1a1a1a;
}

h1, h2 {
  color: #d1d5db !important;
  font-weight: 700 !important;
}
a:not(.s-mGyLUnjvcinH) {
  color: #10b981 !important;
}

#mobile-menu.s-mGyLUnjvcinH .active.s-mGyLUnjvcinH {
  color: #10b981 !important;
}